.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#baseball_canvas {
  background-color: azure;
}
#canvas {
  background-color: #000000;
}
#flappy_canvas {
  background-color: #61dafb;
}
#home_canvas {
  background-color: skyblue;
}

#wrapper {
  position:relative;
}
#select_canvas {
  position:absolute;
  background-color: midnightblue;
}
#main_canvas {
  background-color: skyblue;
}
#end_canvas {
  background-color: black;
}
#name_one {
  position:absolute;
  left:278px;
  top:305px;
  color: azure;
  visibility:hidden;
}
#name_two {
  position:absolute;
  left:28px;
  top:3px;
  visibility:hidden;
}
#name_three {
  position:absolute;
  left:28px;
  top:3px;
  visibility:hidden;
}
#name_four {
  position:absolute;
  left:28px;
  top:3px;
  visibility:hidden;
}

